<img style="float: left;" src="https://avatars.githubusercontent.com/u/88348966?s=400&u=9643fc4455139ef6e232241a949da1d6005499e6&v=4" alt="drawing" />

### Welcome to the Repository for the Complete Python Bootcamp!
## Simple Data Structures
Hello guys, welcome back.

In this section, weâ€™re going to learning about how to store data in composite forms and how to manipulate those forms.

Those forms are called data structures and we focus on arrays(lists), touples, and dictionaries in this case

### Arrays(lists) in Python

A list in python is a collection of data and data structures. Lists can hold any combination of data at onces.

To start, we will create a simple list

In [1]:
mylist = ["Abdi", "mubarik", 'Saleban', 1, 2.5, -1991]

#### Accessing elements in a list

To access elements in a list, you need to use their index or place in the list. The index of the first element("Abdi") is 0, the index of the second element is 1 and so on. 

To access an element will use square brackets in the form `mylist[index]` 

Run the following examples to see how it works

In [2]:
print(mylist[0])

Abdi

In [3]:
print(mylist[2])

Saleban

In [4]:
print(mylist[4])

2.5

In [5]:
print(mylist[12])

IndexError: ignored

#### Modifying the a list 

Here, we will show you how to change the elements of a list in two ways

###### Changing an element 
The first is change the value of an element using the index of the element. For examples let's change the first element of `mylist` to from Abdi to Somali.

Here's how to do that:

In [6]:
mylist[0] = "Somali"
print(mylist)

['Somali', 'mubarik', 'Saleban', 1, 2.5, -1991]

When we print the list, we see that the first element is no longer Abdi.

##### Adding an element to the list 

To add a new element to the list we use the `append` operator.

See the example below.

In [7]:
mylist.append("Africa")
print(mylist)

['Somali', 'mubarik', 'Saleban', 1, 2.5, -1991, 'Africa']

# Touples

Touples are a comma separated collection of data similar to lists, but touples are not mutable(changeable). You can't add or change the elements of a touple.

Let's create a touple show that it's not mutable.

In [10]:
mytouple = (2,3,4,"abi",(2,3))
print(mytouple[0])
mytouple[0] = "mubarik"

2

TypeError: ignored

# Dictionaries in Python

Dictionaries are collection of key, value pairs. 

Let's show you how to create a dictionary in Python

In [12]:
mydict = {'age': 23, "name": "abdi"}
print(mydict)

{'age': 23, 'name': 'abdi'}

#### Accessing values in a dictionary

To access a value in a dictionary, you will use the key the same way you would use the index in a list. Let's show you an example

In [13]:
mydict['name']

'abdi'

In [14]:
mydict['age']

23

#### Modifying dictionaries in Python

Adding a new key value pair and changing the value of a key is the same in dictionaries. Let's demo both

In [15]:
mydict["age"]=100
print(mydict)

{'age': 100, 'name': 'abdi'}

In [16]:
mydict["language"]="Somali"
print(mydict)

{'age': 100, 'name': 'abdi', 'language': 'Somali'}