<img style="float: left;" src="https://avatars.githubusercontent.com/u/88348966?s=400&u=9643fc4455139ef6e232241a949da1d6005499e6&v=4" alt="drawing" />

### Welcome to the Repository for the Complete Python Bootcamp!
## Numbers in Python
Hello guys, welcome back.

In this section, weâ€™re going to learning about numbers, number types, and simple math operations in Python.

There are two main types of numbers in python and they are integers and floats

### integers 

Integers are simple numbers without decimal and they are recognized as `int` in Python. Examples of integers includes negative numbers(e.g. -2), zero, and positive number (e.g. 2).

Let's print some integers to start with

In [1]:
print(2)

2

In [2]:
print(-3)

-3

In [3]:
print(0)

0

# Floats

Floats are simple numbers with decimal places and they are recognized as `float` in Python. Examples of floats includes negative numbers(e.g. -2.0), 0.0, and positive number (e.g. 2.0).

Let's print some floats to start with

In [ ]:
print(2.0)

In [ ]:
print(0.0)

In [ ]:
print(-0.2)

# Type operator 

The type operator in python tells the type of a data(e.g. integer, float, etc) 

To use the type operator you say `type(data)`. Let's print the types of some numbers demonstrate this

In [6]:
print(type(2))

<class 'int'>

When you run the cell above, it should print `int` because the type of 2 is integers

In [5]:
print(type(2.0))

<class 'float'>

When you run the cell above, it should print `float` because the type of 2 is integers

# number conversion
 To convert an integer to float or a float integers, you will use the type you want to convert as an operator. 

 Let's run some examples

### convert float to integer
To convert an integer to a float we use the `int` operator.

See the examples below

In [7]:
print(int(2.2))

2

When you run the cell above, you will see 2 printed and that's because in order to convert from float to int the `int` operator remove everything after the decimal point

### Convert Float to integer

In this case we will use the `float` operator to convert integer to float.

In [8]:
print(float(2))

2.0

As shown above, the float operator adds a decimal point and a zero at the end.

## Simple math with Python

There are four main math operators and they are the addition(+) operator, subtraction(-) operator, multiplication(\*) operator, division(/) operator, and power(\**) operator.

Let's go over one-by-one

#### Addion(+) in python

The following example demonstrate how to do addition in python

In [9]:
print(2+3)

5

In the cell above we are addition two integers(2 and 3) and we get an integer(5)

In [10]:
print(3.0+4)

7.0

In the cell above, we are addition float(3.0) and integer(4) and we get a float(7.0) as a result.

**Note:** If there's a float in the operation, the result is always a float.

#### Subtraction(-) in Python

Here we demonstrate how to do subtraction in Python.

In [ ]:
print(3-2)

In [ ]:
print(2-3)

In [ ]:
print(4.5-12)

#Multiplication(*) in Python

Here we demonstrate multiplication in Python

In [ ]:
print(3*2)

In [ ]:
print(5*-2.0)

In [ ]:
print(100*0)

In [ ]:
print(100.0*1)

### Division(/) in Python

Here we demonstrate division in Python

In [ ]:
print(2/3)

In [ ]:
print(2.0/3)

In [ ]:
print(0/4)

In [ ]:
print(4/0)

### Power(\**) in python

Here we demonstrate how to do exponentiation or power in python

In [ ]:
print(3**2)

In [ ]:
print(0.05**3)

In [ ]:
print(5**0)

In [ ]:
print(4**1)

In [ ]:
print(1**100)

### Mixed operators in Python

Here we will show an example where we use multiple operators at once to calculate the temperature in celcius when we know the temperature in fahrenheit and the other way around

##### Fahrenheit to Celcius

We will calculate celcius when it is 95 fahrenheit.

In [11]:
print((95-32)*5/9.0)

35.0

##### Celcius to Fahrenheit

Now we will calculate Fahrenheit when it is 35 celcius.

In [12]:
print((35*9/5)+32)

95.0